
body{
    height: 100vh;
}

.bg_white{
    background-color: white;
}

.bg_opacity{
    background-color: rgba(0, 0, 0, 0.5);
}

.bg_smoke{
    background-color:whitesmoke;
}

.bg_blue{
    background-color: #1b72e8;
}

.color_white{
    color: white;
}
.color_yellow{
    color: goldenrod;
}

#margin_top{
    margin-top: 70px;
}

.pointer_{
    cursor: pointer;
}


/* header */
.nav_{
    height: 70px;
}
.nav_ .logo_mobile{
    height: 70px;
}
/* sidebar */

.sidebar_{
    
    height: calc(100vh - 70px);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.side_up, .side_down{
    width: 100%;
}

.sidebar_ ul li{
    list-style: none;
}

.sidebar_ ul li i{
    font-size: 1.5rem;
}

/* main */
#main_container{
    overflow: auto;
    height: calc(100vh - 70px);
}

.offcanvas{
    width: 50% !important;
}

/* animazioni */

.sidebar_ ul li:hover{
    background-color: rgb(115, 114, 107);
}

.side_down ul li:hover{
    background-color: rgb(115, 114, 107);
}



