.bg_white{
    background-color: white;
}

.bg_opacity{
    background-color: rgba(0, 0, 0, 0.5);
}

.bg_smoke{
    background-color: whitesmoke;
}

.bg_blue{
    background-color: #1b72e8;
}

.color_white{
    color: white;
}
.color_yellow{
    color: goldenrod;
}

#margin_top{
    margin-top: 70px;
}

/* header */
nav{
    height: 70px;
}

.logo_mobile{
    max-width: 10%;
}

.logo{
    max-width: 15%;
}
/* sidebar */

.sidebar_{
    margin-top: 70px;
    height: calc(100vh - 70px);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.side_up, .side_down{
    width: 100%;
}

.sidebar_ ul li{
    list-style: none;
}

.sidebar_ ul li i{
    font-size: 1.5rem;
}

/* main */
#main_container{
    margin-top: 70px;
    height: calc(100vh - 70px);
}

